/dist-newstyle/
/dist/
/.stack-work/

/*.o
/*.hi
/*.dyn_o
/*.dyn_hi
/*.prof
/*.aux
/*.exe

/cabal.sandbox.config
/cabal.project.local
/cabal.project.local~lock
/setup-config

/.ghc.environment.*
/tags
/cscope.*

*.swp
*.swo
*.bak
*~
.DS*
*~
._*

.idea/
.vscode/

*.log

/test-results/
try
